<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Rian Rainey | Software Developer | Nashville, TN </title>
  <meta name="description" content="I craft websites and applications for small businesses and start-ups."/>
  <meta name="author" content="Rian Rainey">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>


  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "application" %>

  <script type="text/javascript" charset="utf-8">
    $(window).load(function() {
      $('.flexslider').flexslider();
    });
  </script>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/header" %>
<%= render "shared/slider" %>
<%= yield %>

</body>
</html>
